<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="getRandomMovie()">Random</ion-button>
    </ion-buttons>
    <ion-title>TMDB Explorer</ion-title>
  </ion-toolbar> 
  <ion-searchbar (ionChange)="getMovies($event)"> </ion-searchbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header color="dark">Search Results</ion-list-header>
    <ion-item *ngIf="!(films | async)?.length">
      <ion-label>No Item in Array</ion-label>
    </ion-item>
    <ion-item *ngFor="let film of (films|async)"  (click)="showDetails(film)" button>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>{{film.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
